@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans:ital@1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;

}
.fact-text{
    font-size: 2em;
    text-align: center;
}